#view1 {
    height: 200px;
}

.profile {
    display: flex;
    margin-top: 20px;
    height: 120px;
    align-items: center;
}

.userphoto {
    text-align: center;
}

.userphoto,
.info {
    width: 148px;
}

.photo {
    width: 105px;
    height: 120px;
}

.personalInfo,
.info {
    font-size: 15px;
    font-family: sans-serif;
}