#view6 {
    height: 600px;
}

.user:hover {
    background-color: silver;
}

.user:active {
    background-color: rgb(231, 230, 230);
}

.list {
    border: solid 2px #eee;
    border-radius: 5px;
    padding: 5px;
}